<div *ngIf="videos && videos.items.length" class="container mt-5 mb-5">
  <div class="row mb-5">
    <div class="col-md-10">
      <input type="search" [(ngModel)]="q" placeholder="Search" class="form-control form-control-lg w-100">
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary btn-block btn-lg" (click)="getVideos()">Search</button>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12" id="video">
      <iframe class="w-100" height="512" [src]="'https://www.youtube.com/embed/' + mainVideoId | safeUrl" frameborder="0" allow="autoplay; encrypted-media" autoplay allowfullscreen>
      </iframe>
    </div>
  </div>
  <div class="row" infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="getVideosNext()">
    <div *ngFor="let video of videos.items" class="col-md-4 mb-5">
      <h3>{{ video.snippet.title }}</h3>
      <h6 class="text-secondary">{{ video.snippet.description }}</h6>
      <img (click)="changeVideo(video)" class="w-100" [src]="video.snippet.thumbnails.high.url" alt="">
    </div>
  </div>
</div>
