#mainNavbar {
  background: $white;
  @include width-height(100%, 60px);
  box-shadow: bottom-shadow(1);

  position: relative;

  div.navbar-container {
    @include width-height(100%, 60px);
    padding: 0 16px;
  }

  div.navbar-left {
    width: 25%;
    position: relative;
    display: inline-block;
    height: 60px;

    ul {
      list-style-type: none;
      @include no-space();
      @include width-height(100%, 60px);
      position: relative;
      display: inline-block;

      li {
        position: relative;
        float: left;
        height: 60px;

        a {
          line-height: 60px;
          height: 60px;
          margin-right: 50px;
          outline: none;

          svg {
            height: 40px;
            margin: 10px 0;
          }
        }
      }
    }
  }

  div.navbar-right {
    width: 5%;
    position: relative;
    display: inline-block;
    text-align: center;
    float: right;
    height: 60px;
    cursor: pointer;
    padding-top: 18px;

    &:hover {
      background: #e5e5e5;
    }

    @include mq("phone-wide", "max") {
      position: absolute;
      top: 0;
      right: 16px;
    }
  }

  div.search-bar {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 60px;
    @include no-space();
    @include absolute-center();
    margin: 11px 40px;

    @include mq("phone-wide", "max") {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
    }
  }

  @include mq("phone-wide", "max") {
    @include width-height(100%, 140px);
  }
}
